KERNEL=="hidraw*", SUBSYSTEM=="hidraw", MODE="0666"
KERNEL=="ttyUSB*", SUBSYSTEMS=="usb-serial", MODE="0666"
ACTION=="add", SUBSYSTEM=="tty", SUBSYSTEMS=="usb", DRIVERS=="usb", SYMLINK+="tty.usb-$attr{devpath}"
